body {	
	font-family: 'Spartan', sans-serif;
}

h1 {
	color: #ffffff;
	background-color: #782525;
	padding-bottom: 5px;
	padding-top: 12px;
	padding-left: 15px;
	border-radius: 15px;
}

h2 {
	color: #ffffff;
	background-color: #034a01;	
	padding-top: 8px;
	padding-left: 15px;
	padding-bottom: 5px;
	border-radius: 15px;
}

.budget-badges {
	padding-top: 6px;
}