body {
	font-family: 'Spartan', sans-serif;
}

h1 {
	color: #ffffff;
	background-color: #782525;
	padding-bottom: 5px;
	padding-top: 12px;
	padding-left: 15px;
	border-radius: 15px;
}

#title-bar {
	display: flex;	
	color: #ffffff;
	background-color: #034a01;
	border-radius: 15px;
	padding-top: 0.2em;
	padding-left: 1em;
	font-size: 2em;
	margin: 1em 0em 1em;
	padding-bottom: 5px;
}

.budget-badges {
	padding-top: 6px;
}

#filterCriteria {
	color: #d61a1a;
	font-weight: bolder;
}

#filterCleanButton {
	margin-left: 30%;
}
